/* Empty. Add your own CSS if you like */
.complex-item .item-content{
	padding: 16px 16px 16px 100px;
}
/* Rewrite energized style */
.button.button-energized{
	background-color: #414b82!important;
	border-color:#0660BA!important;
}
.bar.bar-energized{
	background-color: #414b82 !important;
	border-color:#0660BA!important;
}